.principal{
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      flex: 1;
      background-color: rgb(196, 212, 241);
    }
    .elemento{
      margin: 0.2rem;
      padding: 0.5rem;
      background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
      border: 1px solid black;
    }

    button{
        margin: 1rem;
    }

    .input{
        margin-bottom: 1rem;
    }
    .sorteado{
        background-color: green;
    }
    .cancelado{
        background-color: red;
    }
    .lanceLivre{
        background-color: yellow;
    }
    .lance25{
        background-color: lime;
    }
    .lance50{
        background-color: orange;
    }
    .radio input{
        margin: 0.8rem;
    }
    .radio label{
        padding: 0.3rem;
    }

    